<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.untitled5">

    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="untitled5"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"> <!-- Default theme for the app -->

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"> <!-- Added android:exported -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity (Flutter Activity) -->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/NormalTheme"
            android:windowSoftInputMode="adjustResize"> <!-- Added android:exported -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />
        </activity>

        <!-- Flutter Generated Meta-data for Plugin Registration -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
